Repository pvestal/anime-studio: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, workflow-json-validation

python-syntax-check:
  name: Python Syntax Check
  entry: python -m py_compile
  language: python

workflow-json-validation:
  name: Workflow JSON Validation
  entry: python -m json.tool
  language: python

WALK Phase Implementation: 1024x1024 upgrade + pipeline reliability
  ECHO_INTEGRATION_FIXES.md
  completion_tracking_fix.py
  echo_production_director.py
  fix_stuck_jobs_clean.py
  job_cleanup_endpoints.py
  test_animatediff_2sec.py
Due: python-syntax-check

Fix job status API - verified working
  api/main.py
Due: python-syntax-check

chore: Code cleanup and refactoring
  anime_api.py
  comfyui_integration.py
  intent_classification_schema.sql
  intent_classification_system.py
  production_monitor.py
  workflows/comfyui/anime_30sec_MOTION_FIXED.json
Due: python-syntax-check, workflow-json-validation

feat: Comprehensive CI/CD pipeline and deployment infrastructure
  .github/workflows/ci.yml
  CICD_README.md
  INTENT_CLASSIFICATION_SYSTEM_GUIDE.md
  ambiguity_resolution_system.py
  docs/BRANCHING_STRATEGY.md
  echo_nlp_integration.py
  frontend/src/components/IntentClassificationWizard.vue
  intent_classification_api.py
  scripts/blue_green_deployment.sh
  scripts/validate_deployment.sh
Due: python-syntax-check

Fix critical anime production system failures
  api/main.py
Due: python-syntax-check

Remove workflows to fix push permissions
  .github/workflows/ci.yml
Due: none

Add proper IMAGE generation endpoints
  api/main.py
Due: python-syntax-check

fix: Document actual anime production system issues and reality
  CHARACTER_CONSISTENCY_IMPLEMENTATION_SUMMARY.md
  ambiguity_resolution_system.py
  api/character_consistency_endpoints.py
  api/character_consistency_patch.py
  api/integrate_consistency_system.py
  api/main.py
  database_migrations/001_add_seed_and_character_consistency.sql
  demonstrate_character_consistency.py
  test_results_20251119_040237.json
  test_results_20251119_040340.json
  test_results_20251119_041200.json
  test_results_20251119_041554.json
Due: python-syntax-check, workflow-json-validation

Update API and ComfyUI connector improvements
  api/main.py
  comfyui_connector.py
Due: python-syntax-check

Fix anime production system with progress monitoring
  FILE_MANAGER_README.md
  MODULAR_API_SUMMARY.md
  MODULAR_SYSTEM_COMPLETE.md
  REAL_SOLUTION_DOCUMENTATION.md
  StatusMonitor_Implementation_Summary.md
  TEST_FAILURE_ANALYSIS.md
  api/main_modular.py
  deploy_modular_api.sh
  examples/file_manager_usage.py
  integration_example.py
  modules/README_DatabaseManager.md
  modules/README_StatusMonitor.md
  modules/__init__.py
  modules/comfyui_connector.py
  modules/database_manager.py
  modules/file_manager.py
  modules/file_manager_integration.py
  modules/job_manager.py
  modules/status_monitor.py
  modules/workflow_generator.py
  progress_monitor.py
  start_progress_monitor.sh
  tests/test_report_20251125_025754.json
Due: python-syntax-check, workflow-json-validation

Rename files to remove promotional/prejudicial naming
  ACTUAL_FIXES_IMPLEMENTED.md
  anime_system_status.md
  api_tests.py
  api_with_features.py
  comprehensive_test_suite.py
  implementation_report.md
  implementation_status.md
  modular_architecture.md
  refactoring_changes.md
  security_audit.py
  security_tests.py
  system_analysis.md
  test_execution_report.md
  test_report.md
  test_report_dec3.md
  test_results_report.md
Due: python-syntax-check

Phase 2: Animated loops with temporal coherence
  src/phase2_animation_loops.py
Due: python-syntax-check

feat: add interactive storyline creation system
  src/storyline_version_control.py
  src/user_interaction_system.py
Due: python-syntax-check

feat: interactive storyline system with database persistence
  src/storyline_api.py
  src/storyline_database.py
Due: python-syntax-check

Complete interactive storyline system integration
  secure_api.py
Due: python-syntax-check

Add comprehensive developer deep dive documentation
  DEVELOPER_DEEP_DIVE.md
Due: none

Add comprehensive test suite design and initial implementations
  tests/test_suite_design.md
Due: none

Add test implementations and results summary
  TEST_RESULTS_SUMMARY.md
  api/character_consistency_mock.py
Due: python-syntax-check

MAJOR: Complete system refactoring and optimization 🚀
  OPTIMIZATION_IMPLEMENTATION_GUIDE.md
  api/DATABASE_INTEGRATION_RECOMMENDATIONS.md
  api/FRONTEND_INTEGRATION_GUIDE.md
  api/WEBSOCKET_IMPLEMENTATION.md
  api/database.py
  api/models.py
  api/secured_api.py
  api/secured_api_refactored.py
  api/websocket_endpoints.py
  api/websocket_manager.py
  api/websocket_test_client.html
  generation_cache.py
  gpu_optimization.py
  optimization_integration_example.py
  optimized_workflows.py
  performance_monitor.py
Due: python-syntax-check

feat: Add comprehensive UX enhancements for anime generation
  anime_api.py
  api/enhanced_generation_api.py
  api/ux_enhancements.py
  tests/test_enhanced_api_integration.py
  tests/test_ux_enhancements.py
Due: python-syntax-check

test: Add complete system tests for CI/CD pipeline
  tests/test_complete_system.py
Due: python-syntax-check

docs: Add comprehensive workflow fix summary
  WORKFLOW_FIX_SUMMARY.md
Due: none

fix: Major linting improvements - reduce from 316 to 559 violations
  api/auth_middleware.py
  api/character_consistency_endpoints.py
  api/character_consistency_engine.py
  api/character_consistency_mock.py
  api/character_consistency_patch.py
  api/character_router.py
  api/character_studio_patch.py
  api/database.py
  api/enhanced_generation_api.py
  api/error_recovery_endpoints.py
  api/image_generation_fixed.py
  api/integrate_consistency_system.py
  api/main.py
  api/main_modular.py
  api/models.py
  api/modular_main.py
  api/project_asset_manager.py
  api/redis_job_endpoints.py
  api/secured_api.py
  api/secured_api_refactored.py
  api/ux_enhancements.py
  api/v2_integration.py
  api/websocket_endpoints.py
  api/websocket_manager.py
  api/working_api.py
  fix_fstrings.py
  fix_spacing.py
  tests/conftest.py
  tests/integration/test_api_basic.py
  tests/integration/test_enhanced_api_integration.py
  tests/test_complete_system.py
  tests/test_ux_enhancements.py
Due: python-syntax-check

Fix GitHub Actions CI/CD workflow failures
  .github/workflows/ci.yml
Due: none

Fix Black formatting issues in API files
  api/character_studio_bridge.py
  api/main.py
Due: python-syntax-check

Path conditions:
  python-syntax-check: any of: \.py$
  workflow-json-validation: any of: \.json$
