Repository pvestal/anime-studio: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, workflow-json-validation

.pre-commit-config.yaml:

# Pre-commit hooks for anime production system
repos:
  - repo: local
    hooks:
      - id: anime-system-tests
        name: Anime System Tests
        entry: python tests/test_complete_system.py
        language: python
        stages: [commit]
        pass_filenames: false
        always_run: true

      - id: python-syntax-check
        name: Python Syntax Check
        entry: python -m py_compile
        language: python
        files: \.py$

      - id: workflow-json-validation
        name: Workflow JSON Validation
        entry: python -m json.tool
        language: python
        files: \.json$

      - id: critical-file-check
        name: Critical File Check
        entry: bash -c 'test -f workflows/comfyui/anime_30sec_standard.json || (echo "Critical workflow file missing!" && exit 1)'
        language: system
        stages: [commit]
        pass_filenames: false
        always_run: true

      - id: service-availability-check
        name: Service Availability Check
        entry: bash -c 'curl -s http://127.0.0.1:8188/system_stats > /dev/null || (echo "ComfyUI service not available!" && exit 1)'
        language: system
        stages: [commit]
        pass_filenames: false
        always_run: true

Add Apple Music to Anime Video Generation System
  api/secured_api.py
  frontend/apple-music-video-test.html
  frontend/src/components/AppleMusicAuth.vue
  frontend/src/components/AppleMusicVideoSync.vue
  frontend/src/components/TowerOAuth.vue
  frontend/test-apple-music.html
Due: python-syntax-check

AUDIT: Document critical workflow integration gaps
  docs/WORKFLOW_INTEGRATION_AUDIT_2025_12_29.md
Due: none

Secure database credentials with environment variables
  anime_api.py
  api/main.py
  static/dist/assets/index-DF1ifqoq.js
  static/dist/assets/index-DjQKKF-T.css
  static/dist/assets/primeicons-C6QP2o4f.woff2
  static/dist/assets/primeicons-DMOk5skT.eot
  static/dist/assets/primeicons-Dr5RGzOO.svg
  static/dist/assets/primeicons-MpK4pl85.ttf
  static/dist/assets/primeicons-WjwUDZjB.woff
  static/dist/index.html
Due: python-syntax-check

feat: Centralize frontend API configuration and fix endpoint consistency
  frontend/src/App.vue
  frontend/src/components/GenerationControlPanel.vue
  frontend/src/config/api.js
  frontend/src/stores/enhancedAnimeStore.js
  frontend/vite.config.js
Due: none

fix: Frontend now shows real data and KB is accessible
  api/__init__.py
  api/echo_brain/__init__.py
  api/echo_brain/assist.py
  api/echo_brain/routes.py
  api/echo_brain/workflow_orchestrator.py
  api/main.py
  database/migrations/echo_brain_creative_schema.sql
  frontend/src/App.vue.backup-director
  frontend/src/components/EchoBrainChat.vue
  static/dist/assets/index-C1WnHkKx.js
  static/dist/assets/index-Cpbj3_qj.css
  static/dist/assets/primeicons-C6QP2o4f.woff2
  static/dist/assets/primeicons-DMOk5skT.eot
  static/dist/assets/primeicons-Dr5RGzOO.svg
  static/dist/assets/primeicons-MpK4pl85.ttf
  static/dist/assets/primeicons-WjwUDZjB.woff
  static/dist/index.html
Due: python-syntax-check

fix: Frontend deploy, characters CRUD, video generation support
  api/main.py
Due: python-syntax-check

fix: Change video output from WEBP to MP4 using VHS_VideoCombine
  api/main.py
Due: python-syntax-check

fix: Update core system files for Echo Brain integration
  anime_api.py
  api/main.py
Due: python-syntax-check

docs: Add comprehensive CHANGELOG for Echo Brain timeline integration
  CHANGELOG.md
Due: none

docs: Establish comprehensive git branching strategy
  BRANCHING_STRATEGY.md
Due: none

feat(echo): Add integration summary report generator
  echo_integration_summary_report.py
Due: python-syntax-check

docs: Update README with Echo Brain integration and current architecture
  README.md
Due: none

docs: Update ARCHITECTURE.md and archive outdated docs
  docs/ARCHITECTURE.md
  docs/archive/ANIME_SYSTEM_DATABASE_MIGRATION_PLAN.md
  docs/archive/ANIME_SYSTEM_V2_COMPARISON_AND_MIGRATION_GUIDE.md
  docs/archive/error_handling_integration_guide.md
Due: none

Create ci-enhanced.yml
  .github/workflows/ci-enhanced.yml
Due: none

Update ci-enhanced.yml
  .github/workflows/ci-enhanced.yml
Due: none

feat: Add API endpoints for animation services
  api/main.py
Due: python-syntax-check

Integrate Echo Brain timeline and orchestration features
  ECHO_BRAIN_API.md
  api/echo_brain_endpoints.py
  api/echo_brain_service.py
  api/main.py
  fix_echo_brain.sh
  services/echo_brain_integration.py
Due: python-syntax-check

COMPLETE: Fully modular architecture with comprehensive ORM and error handling
  api/main_v2.py
  api/models/database.py
  api/routers/characters.py
  api/services/config_service.py
  api/services/error_handler.py
Due: python-syntax-check

Replace complex workflow with simple CI pipeline
  .github/workflows/main-ci.yml
  .github/workflows/ssot-integration-ci.yml
Due: none

Add change propagation engine with dependency-aware regeneration
  services/story_engine/change_propagation.py
Due: python-syntax-check

Fix Story Engine issues found during E2E testing
  services/story_engine/agents/audio_agent.py
  services/story_engine/orchestrator.py
  services/story_engine/story_manager.py
Due: python-syntax-check

Update README with accurate system state and quality assessment status
  README.md
Due: none

Add video contract and Echo Brain reviewer from audit branch
  quality/echo_brain_reviewer.py
  quality/video_contract.py
Due: python-syntax-check

feat: add SSOT scripts (orchestrator, pipeline, story bible, validation)
  ssot/anime/character_distinctions.py
  ssot/anime/image_quality_reviewer.py
  ssot/anime/regenerate_comparison.py
  ssot/anime/regenerate_distinct_females.py
  ssot/anime_pipeline.py
  ssot/ingest_complete_anime_production.py
  ssot/project_config_ssot.py
  ssot/rebuild_story_bible_ssot.py
  ssot/ssot_generation_orchestrator.py
  ssot/start_anime_orchestration.py
  ssot/validate_ssot_compliance.py
Due: python-syntax-check

feat: model-aware generation pipeline, SDXL training, ACE-Step music, progressive video gates
  ARCHITECTURE.md
  README.md
  frontend/api/story.ts
  frontend/api/training.ts
  frontend/components/AnalyticsTab.vue
  frontend/components/LibraryTab.vue
  frontend/components/ProjectTab.vue
  frontend/components/project/GenerationStylePanel.vue
  frontend/types/index.ts
  packages/audio_composition/router.py
  packages/core/audit.py
  packages/core/db.py
  packages/core/generation.py
  packages/core/learning.py
  packages/core/model_profiles.py
  packages/core/model_selector.py
  packages/core/models.py
  packages/lora_training/router.py
  packages/lora_training/training_router.py
  packages/scene_generation/builder.py
  packages/scene_generation/framepack.py
  packages/scene_generation/ltx_video.py
  packages/scene_generation/router.py
  packages/story/router.py
  packages/visual_pipeline/comfyui.py
  packages/visual_pipeline/router.py
  packages/visual_pipeline/vision.py
  server/lora_dataset.py
  server/train_lora.py
Due: python-syntax-check

feat: frontend overhaul, training pipeline, image recommender, batch scripts
  frontend/api/base.ts
  frontend/api/scenes.ts
  frontend/api/training.ts
  frontend/components/LibraryTab.vue
  frontend/components/PendingTab.vue
  frontend/components/SceneBuilderTab.vue
  frontend/components/TrainingTab.vue
  frontend/components/pending/ImageCard.vue
  frontend/components/pending/PendingFilters.vue
  frontend/components/pending/ProjectCharacterGrid.vue
  frontend/components/project/GenerationStylePanel.vue
  frontend/components/scenes/ImagePickerModal.vue
  frontend/components/scenes/SceneEditorView.vue
  frontend/components/scenes/SceneLibraryView.vue
  frontend/src/components/CharacterTraining.vue
  frontend/src/components/TrainingStatusPanel.vue
  frontend/types/index.ts
  packages/core/events.py
  packages/core/generation.py
  packages/core/model_profiles.py
  packages/lora_training/feedback.py
  packages/lora_training/router.py
  packages/lora_training/training_router.py
  packages/scene_generation/image_recommender.py
  packages/scene_generation/router.py
  packages/story/router.py
  packages/visual_pipeline/comfyui.py
  packages/visual_pipeline/router.py
  scripts/batch_expression_progression.py
  scripts/batch_generate_lora_training.py
  scripts/batch_identity_anchors.py
  scripts/batch_nsfw_tdd.py
  scripts/run_all_tdd_batches.sh
  scripts/vision_review_loop.sh
  server/train_lora.py
Due: python-syntax-check

fix: show model pill on review tab when project/character selected, rename package to tower-anime-production
  frontend/components/pending/PendingFilters.vue
  package.json
Due: workflow-json-validation

fix: package name is anime-studio, not tower-anime-production
  package.json
Due: workflow-json-validation

feat: Wan 2.1 T2V, audio ducking, frame interpolation, episode crossfade, classification redesign
  ARCHITECTURE.md
  README.md
  packages/core/db.py
  packages/core/models.py
  packages/core/orchestrator.py
  packages/episode_assembly/builder.py
  packages/lora_training/ingest_router.py
  packages/scene_generation/builder.py
  packages/scene_generation/router.py
  packages/scene_generation/wan_video.py
  packages/visual_pipeline/classification.py
  packages/voice_pipeline/diarization.py
  production/ltx_lora_training_pipeline.py
  scripts/classify_yoshi_frames.py
Due: python-syntax-check

feat: wire frontend to all backend services — orchestrator, ACE-Step music, video engines, transitions
  frontend/api/learning.ts
  frontend/api/scenes.ts
  frontend/components/AnalyticsTab.vue
  frontend/components/scenes/EpisodeView.vue
  frontend/components/scenes/SceneAudioPanel.vue
  frontend/components/scenes/SceneEditorView.vue
  frontend/components/scenes/ShotDetailsPanel.vue
  frontend/src/claude-console-theme.css
  frontend/src/components/MediaUpload.vue
  frontend/src/components/MusicManager.vue
  frontend/src/components/SmartFeedback.vue
  frontend/src/components/StorylineManager.vue
  frontend/src/primevue-override.css
  frontend/src/stores/anime.js
  frontend/src/views/EpisodeManager.vue
  frontend/types/index.ts
  packages/lora_training/clip_extraction.py
  packages/lora_training/frame_extraction.py
  packages/lora_training/ingest_router.py
  packages/visual_pipeline/classification.py
  packages/visual_pipeline/clip_classifier.py
Due: python-syntax-check

feat: video QC loop with vision-informed prompt refinement
  packages/core/orchestrator.py
  packages/scene_generation/builder.py
  packages/scene_generation/router.py
  packages/scene_generation/video_qc.py
Due: python-syntax-check
