Repository pvestal/anime-studio: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, workflow-json-validation

python-syntax-check:
  name: Python Syntax Check
  entry: python -m py_compile
  language: python

workflow-json-validation:
  name: Workflow JSON Validation
  entry: python -m json.tool
  language: python

feat: gate scene assembly on shot approval, auto-approve from QC scores
  packages/scene_generation/builder.py
  packages/scene_generation/scene_review.py
Due: python-syntax-check

feat: creative-first 6-tab layout with routing and legacy redirects
  frontend/App.vue
  frontend/components/CastTab.vue
  frontend/components/ProduceTab.vue
  frontend/components/PublishTab.vue
  frontend/components/ScriptTab.vue
  frontend/components/publish/PublishedLibrary.vue
  frontend/components/script/ScreenplayView.vue
  frontend/router/index.ts
Due: none

feat: character archive system, profile editor, and enhanced filters
  frontend/components/CharactersTab.vue
  frontend/components/characters/CharacterCard.vue
  frontend/components/characters/CharacterDetailPanel.vue
  frontend/components/characters/CharacterFilters.vue
  frontend/components/characters/ChipInput.vue
  frontend/components/characters/KeyValueEditor.vue
  packages/core/db.py
  packages/core/db_migrations.py
  packages/core/models.py
  packages/story/story_characters.py
  tests/conftest.py
  tests/routes/test_character_profile.py
Due: python-syntax-check

feat: production status dashboard with model lineage tracking
  frontend/api/learning.ts
  frontend/components/ProductionStatusTab.vue
  frontend/types/index.ts
  packages/lora_training/router.py
  packages/lora_training/training_jobs.py
Due: python-syntax-check

feat: scene dialogue generation, storyline editor, and component wiring
  frontend/api/scenes.ts
  frontend/api/story.ts
  frontend/components/EchoAssistButton.vue
  frontend/components/ProjectTab.vue
  frontend/components/SceneBuilderTab.vue
  frontend/components/TrainingTab.vue
  frontend/components/VoiceTab.vue
  frontend/components/scenes/ShotDetailsPanel.vue
  frontend/components/story/StorylinePanel.vue
  frontend/stores/training.ts
  packages/core/orchestrator.py
  packages/echo_integration/router.py
  packages/scene_generation/builder.py
  packages/scene_generation/scene_crud.py
  packages/scene_generation/story_to_scenes.py
Due: python-syntax-check

refactor: consolidate Produce tab into single dashboard with project pipeline cards
  frontend/api/learning.ts
  frontend/components/AnalyticsTab.vue
  frontend/components/ProduceTab.vue
  frontend/components/ProductionStatusTab.vue
  frontend/components/ProjectPipelineCard.vue
  frontend/components/TrainingTab.vue
  frontend/composables/useProductionData.ts
  frontend/types/index.ts
Due: none

feat: cross-scene character continuity + episode-aware generation
  ARCHITECTURE.md
  frontend/api/scenes.ts
  frontend/components/ProduceTab.vue
  frontend/components/SceneBuilderTab.vue
  frontend/components/scenes/SceneAudioPanel.vue
  frontend/components/scenes/SceneEditorView.vue
  frontend/components/scenes/ShotDetailsPanel.vue
  frontend/components/script/ScreenplayView.vue
  frontend/types/index.ts
  packages/audio_composition/router.py
  packages/core/gpu_router.py
  packages/core/models.py
  packages/scene_generation/builder.py
  packages/scene_generation/framepack.py
  packages/scene_generation/image_recommender.py
  packages/scene_generation/scene_crud.py
  packages/scene_generation/story_to_scenes.py
  packages/scene_generation/video_qc.py
Due: python-syntax-check

feat: auto-recover stuck shots on startup
  packages/scene_generation/builder.py
  server/app.py
Due: python-syntax-check

feat: Narrative State Machine — character state tracking, decay, propagation, and state-aware generation
  frontend/components/scenes/ShotDetailsPanel.vue
  frontend/types/index.ts
  packages/core/db_migrations.py
  packages/core/events.py
  packages/episode_assembly/router.py
  packages/narrative_state/__init__.py
  packages/narrative_state/continuity.py
  packages/narrative_state/decay.py
  packages/narrative_state/engine.py
  packages/narrative_state/hooks.py
  packages/narrative_state/image_tagger.py
  packages/narrative_state/models.py
  packages/narrative_state/router.py
  packages/narrative_state/state_generation.py
  packages/scene_generation/builder.py
  packages/scene_generation/image_recommender.py
  packages/scene_generation/scene_crud.py
  server/app.py
Due: python-syntax-check

fix: decay bugs and sequential scene generation ordering
  packages/narrative_state/decay.py
  packages/scene_generation/scene_crud.py
Due: python-syntax-check

feat: wire up 5 orphaned event handlers and emit SHOT_GENERATED
  packages/core/orchestrator.py
  packages/scene_generation/builder.py
Due: python-syntax-check

feat: flatten sub-tabs to nested URL routes
  frontend/components/CastTab.vue
  frontend/components/PublishTab.vue
  frontend/components/ReviewTab.vue
  frontend/components/ScriptTab.vue
  frontend/components/publish/PublishEpisodesView.vue
  frontend/router/index.ts
Due: none

feat: add reference_v2v engine — connect video ingestion to production pipeline
  frontend/types/index.ts
  packages/core/db_migrations.py
  packages/lora_training/ingest_router.py
  packages/lora_training/ingest_videos.py
  packages/scene_generation/builder.py
  packages/scene_generation/engine_selector.py
  packages/scene_generation/scene_crud.py
Due: python-syntax-check

feat: add Wan 2.2 5B video engine with LoRA support
  packages/scene_generation/builder.py
  packages/scene_generation/engine_selector.py
  packages/scene_generation/scene_crud.py
  packages/scene_generation/wan_video.py
Due: python-syntax-check

feat: infrastructure sweep — db health, centralized logging, engine routing, pipeline validation
  docs/ENGINE_ROUTING.md
  packages/core/config.py
  packages/core/db_migrations.py
  packages/core/logging_config.py
  packages/core/models.py
  packages/lora_training/feedback.py
  packages/lora_training/router_approval.py
  packages/scene_generation/builder.py
  packages/scene_generation/engine_selector.py
  packages/scene_generation/framepack_refine.py
  packages/scene_generation/scene_crud.py
  packages/visual_pipeline/clip_classifier.py
  server/app.py
  tests/golden_scenarios.md
  tests/smoke_test.sh
Due: python-syntax-check

feat: LoRA safety gate, golden V2V regression tests, pre-flight checklist
  packages/scene_generation/builder.py
  tests/batch_v2v_all.sh
  tests/golden_scenarios.md
  tests/run_golden_fury_v2v.sh
  tests/run_golden_rosa_v2v.sh
  tests/smoke_test.sh
  tests/test_lora_safety_gate.py
Due: python-syntax-check

feat: interactive visual novel engine — Play tab with branching narratives
  PIPELINE_INTEGRATION.md
  frontend/api/interactive.ts
  frontend/components/PlayTab.vue
  frontend/components/play/PlayChoices.vue
  frontend/components/play/PlayDialogue.vue
  frontend/components/play/PlayEndingScreen.vue
  frontend/components/play/PlayLauncher.vue
  frontend/components/play/PlayScene.vue
  frontend/stores/interactive.ts
  packages/interactive/__init__.py
  packages/interactive/engine.py
  packages/interactive/image_gen.py
  packages/interactive/models.py
  packages/interactive/prompts.py
  packages/interactive/router.py
  packages/interactive/session_store.py
Due: python-syntax-check

feat: voice pipeline — TTS synthesis, diarization improvements, event handlers
  packages/voice_pipeline/diarization.py
  packages/voice_pipeline/event_handlers.py
  packages/voice_pipeline/router.py
  packages/voice_pipeline/synthesis.py
Due: python-syntax-check

feat: frontend UI — appearance builder, screenplay view, scene API
  frontend/App.vue
  frontend/api/client.ts
  frontend/api/scenes.ts
  frontend/components/CharactersTab.vue
  frontend/components/EchoAssistButton.vue
  frontend/components/SceneBuilderTab.vue
  frontend/components/characters/AppearanceBuilder.vue
  frontend/components/characters/CharacterDetailPanel.vue
  frontend/components/characters/ChipInput.vue
  frontend/components/characters/PillSelect.vue
  frontend/components/project/GenerationStylePanel.vue
  frontend/components/scenes/ShotDetailsPanel.vue
  frontend/components/script/ScreenplayView.vue
Due: none

feat: backend core — composite images, video postprocess, full pipeline, LoRA analysis
  ARCHITECTURE.md
  packages/core/comfyui.py
  packages/core/generation.py
  packages/core/model_profiles.py
  packages/core/orchestrator.py
  packages/core/orchestrator_router.py
  packages/echo_integration/router.py
  packages/episode_assembly/builder.py
  packages/episode_assembly/router.py
  packages/lora_training/ingest_analysis.py
  packages/lora_training/ingest_helpers.py
  packages/lora_training/ingest_router.py
  packages/lora_training/ingest_videos.py
  packages/scene_generation/composite_image.py
  packages/scene_generation/framepack.py
  packages/scene_generation/full_pipeline.py
  packages/scene_generation/video_postprocess.py
  packages/story/router.py
  packages/visual_pipeline/comfyui.py
  voice_datasets/mei_kobayashi/approval_status.json
  voice_datasets/rina_suzuki/approval_status.json
  voice_datasets/takeshi_sato/approval_status.json
  voice_datasets/yuki_tanaka/approval_status.json
Due: python-syntax-check, workflow-json-validation

feat: prompt test harness, character identity blocks, engine selector fix
  packages/scene_generation/engine_selector.py
  packages/testing/__init__.py
  packages/testing/router.py
  server/app.py
  tests/run_prompt_grid_fury.sh
  tests/run_prompt_grid_tdd.sh
Due: python-syntax-check

feat: improve generation quality and add model exploration system
  packages/core/generation.py
  packages/core/model_profiles.py
  packages/core/model_selector.py
  packages/visual_pipeline/comfyui.py
  packages/visual_pipeline/vision.py
  server/app.py
  tests/unit/test_comfyui_workflow.py
Due: python-syntax-check

fix: use Pydantic model for explore endpoint body parsing
  server/app.py
Due: python-syntax-check

Path conditions:
  python-syntax-check: any of: \.py$
  workflow-json-validation: any of: \.json$
